
input.error { border: 1px solid red; }
input.valid{border: 2px solid blue;}
label.error {
  background:url("/Public/image/false.jpg") no-repeat 0px 0px;

  padding-left: 16px;

  padding-bottom: 2px;

  font-weight: bold;

  color: #F00;
}
label.checked {
  background:url("/Public/image/true.jpg") no-repeat 0px 0px;
}