 <div id="index_bottom" class="bottom container text-center" style="margin-top: 20px;">
    帅 ICP 证 09002463 号|Copyright © 1999-<?php echo date('Y',time()); ?>, CSDN.NET, All Rights Reserved 版权信息，归帅子所有！
    <hr/>
		<h5>关注<a href="#">更多</a>,请扫描我们的二维码!</h5>
		<br/>
	<img width="80px" height=80px" src="/Public/image/myself.png">
	<img width="80px" height=80px" src="/Public/image/myself.png">
	<img width="80px" height=80px" src="/Public/image/myself.png">
	<img width="80px" height=80px" src="/Public/image/myself.png">
  </div>
  <script type="text/javascript">
  		$(function(){

  			$('#index_bottom').children('img').css('margin-left','30px');
  		})
  </script>
